<%= turbo_frame_tag 'reading' do %>
  <div class="text-base mt-2 bg-white border-gray-200 px-5 h-4/12 whitespace-pre-line overflow-y-scroll shadow-sm">
    <h1><%= @title %></h1>
    <%= @novel_content %>
  </div>
<% end %>
